* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navBar {
    margin-top: 20px;
    background-color: white;
}

#btnMypage,
#btnFeed,
#btnLogin,
#btnSign {
    color: #4C4C4C; 
    font-weight: bold;
}

#searchText {
    margin-left: 50px;
}

#hIcon {
    width: 45px;
}

.dropdown-menu{
    width: 80px;
    text-align: center;
}

.nav-item {
    margin-left: 50px;
}

#homeName{
    margin-left: 10px;
    font-size: 1.8rem;
    font-style: italic;
}

#img-searchIcon {
    background: url("../images/검색 아이콘.png");
    width: 30px;
    height: 30px;
    border-style: none;
}

#moto {
    text-align: center;
    font-style: italic;
    padding-bottom: 30px;
}

.footer {
    margin-top: 140px;
    height: 50px;
}