* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#navBar {
    margin-top: 20px;
    background-color: white;

}

#hIcon {
    width: 45px;
    margin-left: 50px;
}

.nav-item {
    margin-left: 50px;
}

.navbar-brand {
    margin-left: 5px;
    font-style: italic;
}

#btnDrop {
    margin-left: 50px;
}

#img-searchIcon {
    background: url("../images/검색 아이콘.png");
    width: 30px;
    height: 30px;
    margin-right: 50px;
    border-style: none;
}

#moto {
    text-align: center;
    font-style: italic;
    padding-bottom: 70px;
}

.footer {
    margin-top: 140px;
    height: 50px;
}